@font-face {
    font-family: 'Roboto Black Italic';
    src: url('../assets/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

* {
    font-family: 'Roboto Black Italic', Arial, sans-serif;
}


/* Nva Bar */
.navbar {
    margin: 20px 0;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.navbar-item {}

.navbar-link {
    text-decoration: none;
    color: blue;
}

.navbar-link:hover {
    color: red;
}